.container {
  display: flex;
  flex-direction: column;
  margin: 3em 1em;
}
.container div {
  padding: 4px;
  /* border: 1px solid red; */
}
.row {
  display: flex;
  flex-direction: row;
}

.filter {
  position: relative;
  width: 300px;
  display: flex;
  align-items: baseline;
}

.filter input,
.filter-word {
  margin-left: 5px;
}
.filter button {
  position: absolute;
  right: 0;
  top: -5px;
  border-radius: 8px;
  border: 2px double gray;
  font-size: 18px;
  margin: 5px;
  width: 40px;
  cursor: pointer;
}
.filter button:hover {
  background-color: gray;
}
.stories {
  min-width: 300px;
}
.stories ul {
  padding-left: 20px;
  list-style-type: none;
  cursor: pointer;
}
.stories li {
  border-bottom: solid 1px red;
  line-height: 8px;
}
.stories li:hover {
  font-weight: bold;
  transition: all 0.25s ease-in-out;
}
.stories li.unread {
  color: gray;
}
.story {
  margin: 0 10px;
}

/* copied spinner css */
.spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 40%;
  margin-left: -32px;
}

.spinner:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #ccc transparent #ccc transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
